.container {
  width: 620px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#trackArea {
  width: 100%;
}
.navigation {
  width: 100%;
  z-index: 1000;
  height: 60px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--track);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: var(--white);
  opacity: 0;
  animation: fadeIn 1s 0s 1 forwards;
  /* name duration delay count fill-mode */
}
.poster {
  width: 240px;
  height: 240px;
  border-radius: 16px;
  opacity: 0;
  animation: fadeDown 1s 0s 1 forwards;
}
#trackArea h1 {
  width: 100%;
  margin: 12px 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  opacity: 0;
  animation: fadeLeft 1s 0.5s 1 forwards;
}
#track {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--track);
  -webkit-appearance: none;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fadeRight 1s 1s 1 forwards;
}
#track::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 10px;
  box-shadow: -600px 0 0 600px var(--blue);
}
#volume {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--track);
  -webkit-appearance: none;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fadeRight 1s 1s 1 forwards;
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 10px;
  box-shadow: -600px 0 0 600px var(--blue);
}
.duration {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  color: var(--light);
}
.duration p {
  font-size: 24px;
  line-height: 28px;
  opacity: 0;
  animation: fadeDown 1s 1s 1 forwards;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.circle:hover {
  cursor: pointer;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 12px;
}
.special {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: none;
  background-color: var(--white);
  color: var(--dark);
  opacity: 0;
  animation: zoomIn 0.5s 2s 1 forwards;
}
.step {
  width: 80px;
  height: 80px;
  font-size: 26px;
  border: 2px solid var(--grey);
  background-color: var(--white);
  color: var(--dark);
  opacity: 0;
  animation: zoomOut 1s 1.5s 1 forwards;
}
.play,
.pause {
  width: 100px;
  height: 100px;
  font-size: 32px;
  margin: 0 20px;
  border: 2px solid var(--grey);
  background-color: var(--white);
  color: var(--dark);
  opacity: 0;
  animation: zoomIn 1s 1.5s 1 forwards;
}
.play i:first-child {
  margin-left: 5px;
}
.play i:last-child {
  display: none;
}

.pause i:first-child {
  display: none;
}
#artist {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 660px) {
  .container {
    padding: 0 24px;
    min-height: calc(100vh - 48px);
  }
  #trackArea h1 {
    font-size: 24px;
  }
  .special {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .step {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  .play,
  .pause {
    width: 70px;
    height: 70px;
    font-size: 28px;
    margin: 0 12px;
  }
  .play i {
    margin-left: 3px;
  }
}
@media only screen and (max-width: 500px) {
  .poster {
    width: 100%;
    height: 100%;
  }
}
